.pageWrapper {
  margin-top: 85px;
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.left-section {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  margin-left: 40px;
  padding-left: 20px;
}

.right-section {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 65px;
}

.right-section img {
  max-width: 90%;
  margin-top: 40px;
  margin-right: 20px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.typing-text {
  height: 100px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-section {
  margin-top: 200px;
  font-size: 18px;
  padding: 10px;
}

.bold-text {
  font-weight: bold;
}

.line1,
.line2,
.line3 {
  margin: 7px 0;
}

.line1 {
  font-family: "Fredericka the Great", serif;
  font-size: 54px;
  font-weight: 400;
  font-style: regular;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.4px black;
}

.line2 {
  font-weight: 700;
  font-size: 46px;
  color: rgb(0, 0, 0);
}

.line3 {
  font-family: "Fredericka the Great", serif;
  font-size: 38px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.4px black;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact-icon {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
  color: #01354f;
}

.contact-icon:hover {
  color: #0073b1;
}
.contact-email {
  padding-top: 5px;
  color: #01354f;
  font-size: 18px;
}

/* .img {
  padding-top: 5px;
} */
/* .cursor-hidden {
  display: none !important;
}

.contact-icon a {
  cursor: pointer !important;
} */
