/* .App {
  text-align: center;
} */

 body {
  background-image: url('../public/assets/background.jpg');
  background-size: cover;
 }

 .pageWrapper {
  display: flex;
 }

 .left-section {
  margin-top: 220px;
  padding: 80px; 
}

.right-section {
  padding: 20px;
}
