body {
  background-image: url('../public/assets/background1.jpg');
  background-size: cover;
 }

 .pageWrapper {
  background-color: rgba(145, 77, 21, 0.1)!important;
 }

 .pageWrapper {
  display: flex;
 }

 .left-section {
  margin-top: 120px;
  padding: 90px; 
  
}

.line1 {
  font-family: "Fredericka the Great", serif;
  font-size: 54px;
  font-weight: 400;
  font-style: regular;
  line-height: 0.4;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.4px black; 
  /* color: rgb(95, 57, 1);
  -webkit-text-stroke: 0.4px rgb(151, 131, 5);  */
}

.line2 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  font-weight: 700;
  line-height: 0.4;
  color: rgb(0, 0, 0);
}

.line3 {
  font-family: "Fredericka the Great", serif;
  font-size: 38px;
  font-weight: 400;
  font-style: regular;
  line-height: 0.4;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.4px black; 
}

.right-section {
  padding: 20px;
}
